.bg-home-hero {
  background-image: url('../../../assets/Home-Hero-Image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
}


.custom-button {
  width: 310px;
  padding: 13px 50px;
  border: 0.75px solid #3C3C3C;
  text-align: center;
  color: #3C3C3C;
  font-size: 36px;
  font-weight: 300;
}