@import "../../scss/colors";

.form-group {
  margin-bottom: 40px;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $gray-dark;
}

.input-field {
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $gray-dark;
  margin-bottom: 0;
  &::placeholder {
    color: $gray-dark;
    opacity: 0.15;
  }
  &:focus {
    outline: none;
    border-color: #666;
  }
}

button.submit-button {
  width: 150px;
  height: 50px;
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: #f7f7f7;
  }
}

.text-green-600 {
  color: #28a745;
}

.text-red-600 {
  color: #dc3545;
}


.login-link {
  font-weight: 300;
  font-size: 18px;
  color: $gray-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}